RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(about)/(data)/$ index.php?mainpage=$1&subpage=$2 [QSA]
RewriteRule ^(info)/(enews|comparison|ranking|vul|client)/$ index.php?mainpage=$1&subpage=$2 [QSA]
RewriteRule ^(query)/(event|ncert|contact|client|retrieve)/$ index.php?mainpage=$1&subpage=$2 [QSA]
RewriteRule ^(vul)/(overview|search|target|retrieve)/$ index.php?mainpage=$1&subpage=$2 [QSA]
RewriteRule ^(tool)/(nmap|ldap|hydra)/$ index.php?mainpage=$1&subpage=$2 [QSA]
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /

