html, body {
	height: 100%;
	max-width:100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #202223;
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-family: 'FangSong';仿宋*/
	/*font-family: 'cwTeXMing', serif;明體*/
	font-size:2vmin;
	color: #707070;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a
{
	text-decoration:none;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	
	height:1px;
}

/** WRAPPER */

#wrapper {
}

#banner-wrapper
{
	overflow: hidden;
	height: 264px;
	background: url(images/banner/building_index.jpg);
	background-position:0px 0px;
	background-size: 100% auto;
	background-repeat:no-repeat;
	/*Add For Img*/
	max-width: 1200px;
    margin: 0px auto;
}

#banner-wrapper-no
{
	overflow: hidden;
	height: 40px;
}

#header-wrapper
{
	background: #FFFFFF;
}

.container {
	width: 80%;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
	margin:auto 0px; 
	overflow: hidden;
	height: 110px;
}




#menu ul {
	display: inline-block;/*置中s*/
	margin: 0px;
	padding: 0px;
	list-style: square;
	/*line-height: normal;*/
}



#menu li {
	float: left;
	padding: 0px 1em;
	/*margin-left: 80px;*/
}

#menu a {
	display: block;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-size:14px;
	font-weight:bold; 
	color:#000000;
}

/** PAGE */
#page {
	position:relative;
	overflow: hidden;
	padding: 3em 0em 0em 0em;
}

/** CONTENT */

#content {
	float: right;
	width: 80%;
}

.post {
	overflow: hidden;
	padding: 30px 50px 30px 50px;
	margin-bottom: 40px;
	border: 1px solid #E7EBED;
	border-radius: 4px;
	background: #FFF;
}

.post_res {
	overflow: hidden;
	/*padding: 30px 50px 30px 50px;*/
	margin-bottom: 40px;
	border: 1px solid #E7EBED;
	border-radius: 4px;
	background: #FFF;
}

.post a
{
	color: #262626;
}

.post a:hover
{
	color: blue;
}


.post .title {
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	font-size: 1.5em;
	letter-spacing: -2px;
	text-decoration: none;
	font-weight: 600;
	color: #222222;
}

.post .meta {
	margin-bottom: 30px;
	padding: 10px 0px 0px 0px;
	text-align: left;
	font-weight: 300;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 40px 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	margin-bottom: 30px;
}

.more {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	margin-right: 10px;
	background: #222222;
	border-radius: 8px;
	color: #FFFFFF !important;
	text-align: center;
	text-decoration: none;
}

.comments {
	display: block;
	float: left;
	width: 88px;
	padding: 5px 5px;
	background: #222222;
	color: #FFFFFF !important;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
}

/** SIDEBAR */

#sidebar {
	float: left;
	width: 20%;
	padding-top: 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 60px;
}

#sidebar li li {
	line-height: 40px;
	border-bottom: 5px solid #282A2B;
	margin: 0px 0px;
	/*border-left: none;*/
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	color: #707070;
}

#sidebar h2 {
	/*height: 38px;*/
	padding: 0px 0px 1vmin 0px;
	letter-spacing: -.5px;
	font-size: 3.6vmin;
	font-weight: 600;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}
/*
#sidebar a:hover {
	text-decoration: underline;
}
*/
/* Footer */

#footer {
	overflow: hidden;
	padding: 3em 0em;
	border-top: 1px solid #282A2B;
}

#footer p {
	text-align: center;
}

#footer a {
	color: #c0c0c0;
}
